# Android build artifacts
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
debug.keystore
release.keystore

# Kotlin
*.class

# Relay server
relay-server/relay-server

# Android test
/app/src/test/
/app/src/androidTest/
